@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white
}

table, th, td {
  border: 1px solid black;
}

label.required{
  font-weight: 500;
}

label.required::after{
  content: "*";
  color: red;
}

p{
  font-family:'Poppins'
}

.outlined-button {
  background-color: transparent;
  border: 1px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 16px;
}

.outlined-button:hover{
  background-color: '#f7f5f3';
}